/* DASHBOARD */

.sistema{

    padding:20px;
}

/* TOP */

.top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

/* CARDS */

.cards{

    display:flex;

    gap:20px;

    margin-bottom:20px;

    flex-wrap:wrap;
}

.card{

    background:white;

    padding:20px;

    border-radius:10px;

    width:200px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h3{

    margin:0;
}

.card p{

    font-size:30px;

    margin-top:10px;
}

/* TAREAS */

.tarea{

    background:white;

    padding:15px;

    margin-bottom:10px;

    border-radius:10px;
}

/* FUNCIONES */

.funciones{

    display:flex;

    gap:20px;

    margin-bottom:30px;

    flex-wrap:wrap;
}

.funcion{

    background:white;

    width:220px;

    padding:15px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.funcion h3{

    margin-bottom:10px;

    font-size:18px;
}

.funcion ul{

    padding-left:20px;
}

.funcion li{

    margin-bottom:8px;
}